{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'footer.css' %} ">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <!-- Logo or Brand Name -->
                <div class="footer-brand">
                    <h2>Makeup & Mehendi Art</h2>
                    <p>Transforming Moments, Creating Memories.</p>
                </div>
    
                <!-- Quick Links -->
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
    
                <!-- Contact Info -->
                <div class="footer-contact">
                    <h3>Contact Us</h3>
                    <p>Email: <a href="gmailto:jaydeeppatidarj@gmail.com">jaydeeppatidarj.com</a></p>
                    <p>Phone: +91 9589368479</p>
                    <p>Location: 859,sector B, sector D, scheme 71,<br> Ranjeet Hanuman, Indore, 452009</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Makeup & Mehendi Art. All rights reserved by <i>JAYDEEP PATIDAR</i>.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>